<div class="container">
    <div class="profile-header">
        <img src="assets/imagens/Foto.jpg" alt="Tu Nombre">
        <p>Realizado por:</p>
        <h1>Pedro Felipe Mendez Silva</h1>
        <p>Desarrollador Full Stack</p>
    </div>
    <ul class="contact-info">
        <li>
            <img src="assets/imagens/linkedin.png" width="24" height="24" class="d-inline-block align-top"
                alt="LinkedIn">
            <a href="https://www.linkedin.com/in/pedro-felipe-mendez" target="_blank"> LinkedIn</a>
        </li>
        <li>
            <img src="assets/imagens/gmail.png" width="24" height="24" class="d-inline-block align-top" alt="LinkedIn">
            <span>mendezsilvap&#64;gmail.com</span>
        </li>
        <li>
            <img src="assets/imagens/mapa.png" width="24" height="24" class="d-inline-block align-top" alt="LinkedIn">
            <span>Bogota D.C</span>
        </li>
        <li>
            <img src="assets/imagens/phone.png" width="24" height="24" class="d-inline-block align-top" alt="LinkedIn">
            <span>+57 316 423 0563</span>
        </li>
    </ul>
</div>