<div class="container">
    <div class="image">
        <img class="image" src="assets/imagens/logo-bn.png" width="300" height="120" class="d-inline-block align-top"
            alt="">
    </div>
    <br>
    <h1>Proyecto Empleados SII</h1>

    <p>Esta API RESTfull permite gestionar empleados. <br> Por ahora puedes buscarlos por su id y listarlos</p>

    <h2>Tecnologías utilizadas:</h2>
    <ul class="centered-list">
        <img src="assets/imagens/angular.png" width="180" height="50" class="d-inline-block align-top" alt="">

    </ul>
    <ul class="centered-list">
        <img src="assets/imagens/spring-boot.png" width="150" height="80" class="d-inline-block align-top" alt="">
    </ul>


    <h2>Mejoras Futuras:</h2>
    <p>
        * Crear nuevos empleados <br>
        * Actualizar datos de empleados <br>
        * Eliminar empleados <br>
    </p>

    <h2>¡Empieza a usar la API Empleados hoy mismo!</h2>
</div>